<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>#canchecks</title>
    <meta name="description" content="#canchecks">

    <link rel="stylesheet" href="cancheck.css">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <h1>#cancheck</h1>
    <table>
      <thead>
        <tr>
          <th>date</th>
          <th>nick</th>
          <th>image</th>
        </tr>
      </thead>
      <tbody>
        <% for row in @cans %>
          <tr>
            <td><%= row[1] %></td>
            <td><%= row[2] %></td>
            <td><a href="<%= row[3] %>" target="_blank"><%= row[3] %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
